.buttonSet {
  height: auto;
  background-color: black;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
}

#button {
  width: 100%;
  color: white;
  background-color: black;
  border: none;
  font-weight: 600;
}

#transButtonSet {
  text-align: right;
  margin: 15px 0 0 0;
}

#transTitle {
  padding: 0 10px 0 0;
}

#transButton {
  background-color: white;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  padding: 5px 10px;
}

@media (min-width: 600px) {
  #button {
    font-size: 24px;
  }
}