#menu {
  -webkit-animation: fade-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#menuCover {
  padding: 0 0 40px 0;
}

#menuTitle {
  font-weight: 700;
}

#menuPrice {
  text-align: center;
  margin: 0 auto 5px auto;
}

#menuSet {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#menuItem {
  margin: 0;
  border: 1px solid #999999;
  border-radius: 10px;
  margin: 0 0 3px 0;
  display: flex;
  flex-direction: column;
}

#menuImgCover {
  margin: 0 auto;
  text-align: center;
  flex: 1;
}

#menuName {
  text-align: center;
  font-weight: 300;
  margin: 20px auto 5px auto;
  word-break: keep-all;
}

#menuImg {
  object-fit: contain;
  vertical-align: middle;
}

@media (max-width: 375px) {
  #menuName {
    font-size: 14px;
  }
  #menuPrice {
    font-size: 14px;
  }
}

@media (max-width: 599px) {
  #menuTitle {
    font-size: 20px;
  }
  #menuItem {
    width: 40vw;
    height: 50vw;
  }
  #menuImgCover {
    width: 27vw;
    height: calc(27vw - 10px);
    line-height: calc(27vw - 10px);
  }
  #menuImg {
    width: 27vw;
    height: 27vw;
  }
}

@media (min-width: 600px) {
  #menu {
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
  }
  .menuBundle {
    flex: 0 0 auto;
    height: 100%;
    min-height: calc(100vh - 100px);
    scroll-snap-align: start end;
  }
  #menuTitle {
    font-size: 24px;
  }
  #menuItem {
    width: 30vw;
    height: 32vw;
  }
  #menuImgCover {
    width: 25vw;
    height: 25vw;
    max-height: 200px;
    line-height: 20vw;
  }
  #menuImg {
    width: 18vw;
    height: 18vw;
    max-height: 200px;
  }
  #menuName {
    font-size: 18px;
    font-weight: 600;
  }
  #menuPrice {
    font-size: 16px;
    font-weight: 600;
  }
}

@-webkit-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
