#menu {
  -webkit-animation: fade-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
#menu::-webkit-scrollbar {
  display: none;
}

.menuBundle {
  margin-bottom: 30px;
}

#menuCover {
  padding: 0 0 40px 0;
  text-align: center;
}

#menuTitle {
  font-weight: 700;
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px 30px;
  letter-spacing: 2px;
}

#menuDesc {
  text-align: center;
  margin: 0;
}

#menuPrice {
  text-align: center;
  margin: 0 auto 5px auto;
}

#menuSet {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

#menuItem {
  flex: 1;
  margin: 0;
  /* border: 1px solid #999999; */
  border-radius: 10px;
  margin: 0 0 3px 0;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}

#menuImgCover {
  margin: 0 auto;
  text-align: center;
  flex: 1;
}

#menuName {
  text-align: center;
  font-weight: 600;
  margin: 20px auto 3px auto;
  word-break: keep-all;
}

#menuImg {
  object-fit: contain;
  vertical-align: middle;
}

@media ((max-width: 412px)) {
  #menu {
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
  }
  .menuBundle {
    flex: 1 1;
  }
  #menuTitle {
    font-size: 16px;
  }
  #menuItem {
    width: 40vw;
    height: 50vw;
  }
  #menuName, #menuPrice {
    font-size: 14px;
  }
  #menuDesc {
    font-size: 12px;
  }
  #menuImgCover {
    width: 27vw;
    height: calc(27vw);
    line-height: calc(27vw);
  }
  #menuImg {
    width: 24vw;
    height: 24vw;
  }
}

@media ((min-width: 412px) and (max-width: 600px)) {
  #menuTitle {
    font-size: 20px;
  }
  #menuItem {
    width: 40vw;
    height: 50vw;
  }
  #menuDesc {
    font-size: 14px;
  }
  #menuImgCover {
    width: 27vw;
    height: calc(27vw - 10px);
    line-height: calc(27vw - 10px);
  }
  #menuImg {
    width: 27vw;
    height: 27vw;
  }
}

/* @media ((min-width: 600px) and (max-width: 1024px)) {
  #menu {
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
  }
  .menuBundle {
    flex: 0 0 auto;
    height: 100%;
    min-height: calc(100vh - 100px);
    scroll-snap-align: start end;
  }
  #menuTitle {
    font-size: 24px;
  }
  #menuItem {
    width: 29vw;
    height: 32vw;
  }
  #menuImgCover {
    width: 25vw;
    height: 25vw;
    max-height: 200px;
    line-height: 20vw;
  }
  #menuImg {
    width: 18vw;
    height: 18vw;
    max-height: 200px;
  }
  #menuName {
    font-size: 18px;
    font-weight: 600;
  }
  #menuPrice {
    font-size: 16px;
    font-weight: 600;
  }
} */

@media ((min-width: 600px)) {
  #menu {
    display: flex;
    flex-direction: column;
  }
  .menuBundle {
    flex: 0 0 auto;
    height: 100%;
  }
  #menuTitle {
    font-size: 24px;
  }
  #menuItem {
    width: 29vw;
    height: 32vw;
  }
  #menuDesc {
    font-size: 16px;
  }
  #menuImgCover {
    width: 25vw;
    height: 25vw;
    max-height: 200px;
    line-height: 20vw;
  }
  #menuImg {
    width: 18vw;
    height: 18vw;
    max-height: 200px;
  }
  #menuName {
    font-size: 18px;
    font-weight: 600;
  }
  #menuPrice {
    font-size: 16px;
    font-weight: 600;
  }
}

@-webkit-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
