#tagWrap {
  height: 100%;
  position: absolute;
  top: calc(100% - 2.8em - 10px);
  left: 10px;
}

#tag {
  width: 2.8rem;
  height: 2.8em;
  border-radius: 2.8rem;
  display: flex;
  align-items: center;
}

#tagText {
  font-size: 0.65em;
  font-weight: 600;
  word-break: keep-all;
  margin: 0;
  text-align: center;
}

@media ((max-width: 412px)) {
  #tag {
    width: 36px;
    height: 36px;
    bottom: calc(-50vw + 5px);
  }
  #tagText {
    font-size: 10px;
    word-break: keep-all;
  }
}

@media ((min-width: 412px) and (max-width: 600px)) {
  #tag {
    bottom: calc(-50vw + 5px);
  }
}

@media ((min-width: 600px)) {
  #tag {
    width: 50px;
    height: 50px;
    bottom: calc(-32vw + 5px);
  }
  #tagText {
    font-size: 14px;
    word-break: keep-all;
  }
}