#viewerDimmed {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.5);
}

#viewer {
  position: fixed;
  top: calc(((100vh - 70vh) + 100px) / 2);
  left: 5vw;
  width: 90vw;
  height: 70vh;
  line-height: 70vh;
  border: 1px solid #999999;
  border-radius: 10px;
  background-color: #f6f6f6;
  text-align: center;
  -webkit-animation: fade-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#viewerName {
  font-size: 24px;
  font-weight: 600;
}

#viewerImg {
  object-fit: contain;
  vertical-align: middle;
  width: 80vw;
  max-height: 50vh;
}

@-webkit-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@media (max-width: 600px) {
  #viewerName {
    font-size: 20px;
  }
}

/* @media ((min-width: 600px) and (max-width: 900px)) {

} */

/* @media (min-width: 900px) {

} */
